<!doctype html>

<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content = "IE=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Rufina" rel="stylesheet">
  <script src="/js/jquery-1.11.0.js" ></script>
  <script src="/js/financeful.js" ></script>
    <script src="/js/bootstrap.js" ></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/financeful.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
</head>

<body>
   <div class="jumbotron">
    <h1>Financeful</h1>
  </div>
<div class="container">

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="glyphicon glyphicon-list"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="{{index}}">Home</a></li>
    <li><a href="{{add_purchase}}">Add Purchase</a></li>
    <li><a href="{{view}}">View Data</a></li>
    <li><a href="{{set}}">Manage Settings</a></li>
    <li><a href="{{login}}">Log Out</a></li>
  </ul>
</div>

<br>
<br>


<form>
  <div class="form-group">
    <label for="exampleTextarea">Item</label>
    <textarea class="form-control" id="item" rows="1"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleSelect1">Category</label>
    <select class="form-control" id="mySelect">
        {{#each categories}}
          <option value={{category}}> {{category}}</option> 
        {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="exampleTextarea">Price ($)</label>
    <textarea class="form-control" id="amount" rows="1"></textarea>
  </div>


<div class="form-group">
  <label for="exampleSelect1">Date</label>
  <br>
  <input type="date" id="date">
</div>

<div class="form-group">
    <label for="exampleSelect1">How do you feel about your purchase?</label>
    <select class="form-control" id="mood">
        {{#each moods}}
          <option value={{mood}}> {{mood}}</option> 
        {{/each}}
    </select>
</div>

<div class="form-group">
    <label for="exampleSelect1">Would you buy it again?</label>
    <select class="form-control" id="trend">
        {{#each trends}}
          <option value="{{trend}}"> {{trend}}</option> 
        {{/each}}
    </select>
</div>

<a href = "{{view}}"" class="btn btn-primary btn-lg active center-block" id = "add_submit" onclick = "getdata()">Add</a>
  </form>


</div>


</body>   



<script>
function getdata(){
    var item = document.getElementById("item");
    var category = document.getElementById("mySelect");
    var amount = document.getElementById("amount");
    var date = document.getElementById("date");
    var mood = document.getElementById("mood");
    var trend = document.getElementById("trend");
    var element = document.getElementById("add_submit");
    console.log(trend.value);

    $.post("/add_purchase", 
    { 
      "item": item.value,
      "category": category.value, 
      "price": amount.value, 
      "date": date.value,
      "mood": mood.value,
      "trend": trend.value
    }, function(data) {console.log("success!")});
};
</script>  

</form>

</html>
