<!doctype html>
<html>
      <head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content = "IE=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Rufina" rel="stylesheet">
  <script src="/js/jquery-1.11.0.js" ></script>
  <script src="/js/financeful.js" ></script>
    <script src="/js/bootstrap.js" ></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/financeful.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
  </head>

<body>
<div class = "container">
    <div class="page-header">
      <h1>Financeful</h1>
    </div>

  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="glyphicon glyphicon-list"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="{{index}}">Home</a></li>
      <li><a href="{{add_purchase}}">Add Purchase</a></li>
      <li><a href="{{view}}">View Data</a></li>
      <li><a href="{{set}}">Manage Settings</a></li>
      <li><a href="{{login}}">Log Out</a></li>
    </ul>
  </div>

  <br>
  <br>




      <h1 id="history" style="color: white; font-size: 100%" align="center"> History </h1>
      <div class="history_table" style="font-size: 10%">
        <table class="new_table" align="center" style="font-size:10px" id="history_table"  >
     <!-- <div class="elements" align=center style="font-size: 200%; color:black"> -->
      <tr>
        <td> Item 
        <td> Category ` 
        <td> Price
        <td> Date
        <td> Mood
        <td> Would Repurchase?
      </tr>
      <br>

      <div style="color:black">
      <tr>
        {{#each purchases}}
         <td> {{item}} </td>
         <td> {{category}} </td>
         <td> {{price}} </td>  
         <td>{{date}}</td> 
         <td>{{mood}} </td>
         <td>{{trend}} </td>
        <br>
      </tr>                 
        {{/each}}
      </tr>
    </div>
    </div>





</html>  