<!doctype html>
<html>
<head> 
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content = "IE=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Rufina" rel="stylesheet">
  <script src="/js/jquery-1.11.0.js" ></script>
  <script src="/js/financeful.js" ></script>
    <script src="/js/bootstrap.js" ></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/financeful.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
<style>
.jumbotron {
	background-color: #2E2D88;
	color: white;
}
.tab-content {
	border-left:  1px solid #ddd;
	border-right:  1px solid #ddd;
	border-bottom:  1px solid #ddd;
	padding:  10px;
}
.nav-tabs {
	margin-bottom:  0;
}
/* Carousel Styling */
.slide1{
  background-image: url('./1.png');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide2{
  background-image: url('./2.png');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide3{
  background-image: url('./3.jpeg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.carousel-caption h1{
  font-size: 5.4em;
  font-family: 'Rufina', serif;
  padding-bottom: .4em;
}
.carousel-caption p{
  font-size: 2em;
}
</style>

</head>

<body>

<div class = "container">

	<div class="page-header">
	<h1>Financeful</h1>
  <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="glyphicon glyphicon-list"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="{{index}}">Home</a></li>
    <li><a href="{{add_purchase}}">Add Purchase</a></li>
    <li><a href="{{view}}">View Data</a></li>
    <li><a href="{{set}}">Manage Settings</a></li>
    <li><a href="{{login}}">Log Out</a></li> 
  </ul>
</div>
	</div>

<div class="bgSizeContain">
   <p>fdkfjd</p>
</div>

</div>
	

</body>


</html>