<!doctype html>
   <html>
  <head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content = "IE=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Rufina" rel="stylesheet">
  <script src="/js/jquery-1.11.0.js" ></script>
  <script src="/js/financeful.js" ></script>
    <script src="/js/bootstrap.js" ></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/financeful.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
  </head>

<body>

<div class = "container">
   <div class="page-header">
    <h1>Financeful</h1>
  </div>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="glyphicon glyphicon-list"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="{{index}}">Home</a></li>
    <li><a href="{{add_purchase}}">Add Purchase</a></li>
    <li><a href="{{view}}">View Data</a></li>
    <li><a href="{{set}}">Manage Settings</a></li>
    <li><a href="{{login}}">Log Out</a></li>  
  </ul>
</div>

  <br>
  <br>


<form>
  <div class="form-group">
    <label for="exampleTextarea">add a category</label>
    <textarea class="form-control" id="item" rows="1"></textarea>
  </div>


  <button type="submit" class="btn btn-primary" onclick = "addcategory()"> add</button>


  <div class="form-group">
    <label for="exampleSelect1">remove a category</label>
    <select class="form-control" id="mySelect">
        {{#each categories}}
          <option value={{category}}> {{category}}</option> 
        {{/each}}
    </select>
  </div>


  <button type="submit" class="btn btn-primary" onclick = "removecategory()"> remove</button>

  </form>

</div>
</body>


    <script>
        function removecategory() {
          console.log("remove being called")
        var data = document.getElementById("mySelect");
          $.post("/set/remove", 
            { 
              "category": data.value
            }, 
            function(data) {
              //console.log("success!");
              alert(data);
            }

          );

        }

        function addcategory(){
            console.log("add called")
          var data = document.getElementById("item");
          console.log(data.value)

          $.post("/set", 
          { 
            "category": data.value
        }, function(data) {console.log("success!")});
      }
    </script>
    
  	</html>