<!doctype html>
   <html>
  <head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content = "IE=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Rufina" rel="stylesheet">
  <script src="/js/jquery-1.11.0.js" ></script>
  <script src="/js/financeful.js" ></script>
    <script src="/js/bootstrap.js" ></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/financeful.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
  </head>

<body>

<div class = "container">
   <div class="page-header">
    <h1>Financeful</h1>
  </div>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="glyphicon glyphicon-list"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="{{index}}">Home</a></li>
    <li><a href="{{add_purchase}}">Add Purchase</a></li>
    <li><a href="{{view}}">View Data</a></li>
    <li><a href="{{set}}">Manage Settings</a></li>
    <li><a href="{{login}}">Log Out</a></li>  
  </ul>
</div>

<p class="h3">Manange Categories</p>

<form>
  <div class="form-group">
    <label for="exampleTextarea">Add a Category</label>
    <textarea class="form-control" id="item" rows="1"></textarea>
  </div>


  <button type="submit" class="btn btn-primary center-block" onclick = "addcategory()">Add Category</button>

  <div class="form-group">
    <label for="exampleSelect1">Remove a Category</label>
    <br>
    <select class="form-control" id="mySelect">
        {{#each categories}}
          <option value={{category}}> {{category}}</option> 
        {{/each}}
    </select>
  </div>
  <button type="submit" class="btn btn-primary center-block" onclick = "removecategory()">Remove Category</button>

</form>

<p class="h3">Manange Moods</p>

<form>
  <div class="form-group">
    <label for="exampleTextarea">Add a Mood</label>
    <textarea class="form-control" id="mood_input" rows="1"></textarea>
  </div>


  <button type="submit" class="btn btn-primary center-block" onclick = "addmood()">Add Mood </button>

  <div class="form-group">
    <label for="exampleSelect1">Remove a Mood</label>
    <br>
    <select class="form-control" id="mymood">
        {{#each moods}}
          <option value={{category}}> {{mood}}</option> 
        {{/each}}
    </select>
  </div>
  <button type="submit" class="btn btn-primary center-block" onclick = "removemood()">Remove Mood</button>

</form>


</div>
</body>

    <script>


        function removecategory() {
          
          var data = document.getElementById("mySelect");
          $.post("/set/remove", 
            { 
              "category": data.value
            }, 
            function(data) {
            })};

        function addcategory(){
           
          var data = document.getElementById("item");
          $.post("/set", 
          { 
            "category": data.value
        }, function(data) {console.log("success!")})};


        function removemood() {
          
          var data = document.getElementById("mymood");
          $.post("/set/removemood", 
            { 
              "mood": data.value
            }, 
            function(data) {
            })};

        function addmood(){
           
          var data = document.getElementById("mood_input");
          $.post("/set/addmood", 
          { 
            "mood": data.value
        }, function(data) {console.log("success!")})};



    </script>
    
</html>