<!doctype html>
   <html>
    <script src="/js/jquery-1.11.0.js" ></script>
    <script src="/js/financeful.js" ></script>
    <script src="/js/bootstrap.js" ></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
         <link href="css/bootstrap-theme.min.css" rel="stylesheet">
         <link href="css/financeful.css" rel="stylesheet"> 
      <div class="all" style="color:black; font-size:300%" align="center">

      <p> Financeful </p> 

     
     <table style="width:50%" align="center">
      <tr> 
        <td > <a href="{{add_purchase}}" id="add"> ADD </a> </td> 
        <th> <a href="{{view}}"> VIEW </a> </th>
        <th> <a href="{{set}}"> SET </a> </th>
      </tr>
    </table>  
  <br>
  <div class="all" style="color:black">

   		Manage your Categories
    	<img src = "images/5.png" style="color:black" height = "100" width = "100">

   		<form>
      			<fieldset>
        		<legend>Add a Category</legend>
        	
          				<label>Category</label>
          				<input type = "text"
                 		id = "item"
                 		value = "" />
      				
              <form action="{{index}}">
      				<input type="submit" id = "add_category" value="Submit" onclick = 'addcategory()'>
            </form>
      			</fieldset>
      	</form>	
        
      <legend>Remove a Category</legend>
   	 	<select id="mySelect" size="4" style="color:black">
        {{#each categories}}
        <option value={{category}} id="category"> {{category}}</option> 
        {{/each}} 
  		</select>

      <button onclick="removecategory()">Remove selected category</button>

    <script>
        function removecategory() {
          console.log("remove being called")
        var data = document.getElementById("mySelect");
          $.post("/set", 
            { 
              "category": data.value
            }, 
            function(data) {
              //console.log("success!");
              alert(data);
            }

          );

        }

        function addcategory(){
            console.log("add called")
          var data = document.getElementById("item");
          console.log(data.value)

          $.post("/set", 
          { 
            "category": data.value
        }, function(data) {console.log("success!")});
      }
    </script>
    
  		<div id="add" style="color:black">
			<a href="{{add_purchase}}">
				Navigate to Add Purchase
			</a>
		</div>	

  		<div id="view">
			<a href="{{view}}">
				Navigate to View Data
			</a>
		</div>	

   		<div id="home" style="color:black">
			<a href="{{index}}">
				Navigate to Home
			</a>
		</div>	
  </div>
</div>
  	</html>