<!doctype html>
   <html>
         <script src="/js/jquery-1.11.0.js" ></script>
         <script src="/js/financeful.js" ></script>
         <script src="/js/bootstrap.js" ></script>
         <link href="css/bootstrap.min.css" rel="stylesheet">
         <link href="css/bootstrap-theme.min.css" rel="stylesheet">
         <link href="css/financeful.css" rel="stylesheet"> 

         	<p> Financeful </p> 

     
       <table style="width:20%" align="center">
     	<tr> 
    		<td > <a href="{{add_purchase}}" id="add"> ADD </a> </td> 
    		<th> <a href="{{view}}"> VIEW </a> </th>
    		<th> <a href="{{set}}"> SET </a> </th>
          </tr>
         </table>	
         <br> 

      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
       <div id="piechart" style="width: 900px; height: 500px;" align="center"></div>

      <div id = "pie_chart_category" align = "center"> 
      <script>
    
      var spending_array = [];
      var categories=[];
      var moods =[];
      var mood_count=new Array(5).join('0').split('').map(parseFloat);
      var food_mood_count=new Array(5).join('0').split('').map(parseFloat);

      var prices= new Array(5).join('0').split('').map(parseFloat);

      var a = 0;
      for(a = 0; a < prices.length; ++a) 
        prices[a] = 0;
      for(a = 0; a < mood_count.length; ++a) {
        mood_count[a] = 0;
        food_mood_count[a] = 0;
      }
        $.getJSON("./data.json", function(data) { 
          //Categories chart
          console.log(data);
          var i,j;
          for(i=0; i < data.categories.length; ++i) {
            categories[i] = data.categories[i].category;
            for(j=0; j < data.purchases.length; ++j) {
              if(data.purchases[j].category === categories[i]) {
                prices[i] = prices[i] + +data.purchases[j].price;
              }  
            }
          }

          //Moods chart
          for(i=0; i < data.moods.length; ++i) {
            moods[i] = data.moods[i].mood;
            for(j=0; j < data.purchases.length; ++j) {
              if(data.purchases[j].mood === moods[i]) {
                mood_count[i] = mood_count[i] + 1;
                if(data.purchases[j].category == "Food")
                  food_mood_count[i] = food_mood_count[i] + 1;
              }  
            }
         }
       spending_array[0] = ['Category', 'Amount Spent'];
         for(i=0; i < data.categories.length; ++i) {
          spending_array[i+1] = [categories[i], prices[i]];
         }
         /*onsole.log(food_mood_count[2]);      
            spending_array[1] = [categories[0], prices[0]];
        spending_array[2] = [categories[1], prices[1]];
        spending_array[3] = [categories[2], prices[2]];
        spending_array[4] = [categories[3], prices[3]];*/



         google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart1);
                 function drawChart1() {
        

        //Categories chart
        var data1 = google.visualization.arrayToDataTable(
          spending_array
          /*
          [ 
        [ 'Category', 'Amount Spent'],
          [categories[0], prices[0]],
          [categories[1], prices[1]],
          [categories[2], prices[2]],
          [categories[3], prices[3]]
        ]*/);  

        var options1 = {
          title: 'My Spending Report',
          backgroundColor: 'white',
          is3D: true,
        };

        var chart1 = new google.visualization.PieChart(document.getElementById('piechart'));

        chart1.draw(data1, options1);
      };

        });

     
      </script>
      </div>
      <br>

      <div id = "pie_chart_category2" align = "center"> 
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data2 = google.visualization.arrayToDataTable([
          ['Mood', 'Occurrences per month'],
          [moods[0],     mood_count[0]],
          [moods[1],     mood_count[1]],
          [moods[2],  mood_count[2]],
          [moods[3], mood_count[3]],
          [moods[4],    mood_count[4]]
        ]);

        var options = {
          title: 'My Overall Mood Report'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart2'));

        chart.draw(data2, options);
      }
    </script>      
  </div>
   <div id="piechart2" style="width: 900px; height: 500px;"></div>


      <br>


      <div id = "pie_chart_category3" align = "center"> 
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data3 = google.visualization.arrayToDataTable([
          ['Entertainment Mood', 'Occurrences per month'],
          [moods[0],     food_mood_count[0]],
          [moods[1],      food_mood_count[1]],
          [moods[2],  food_mood_count[2]],
          [moods[3], food_mood_count[3]],
          [moods[4],    food_mood_count[4]]
        ]);

        var options = {
          title: 'My Mood for Food'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart3'));

        chart.draw(data3, options);
      }
    </script>      
  </div>
   <div id="piechart3" style="width: 900px; height: 500px;"></div>


      <br>

      <div id="status" align="center" style="font-size:200%; color:black"> Click a category to check how much you've spent! </div>

			<div id="title" align="center" style="font-size:600%; color:black" > Categories </div>
			{{#each purchases}}
			<tr>
			 <a href="#" class="category" align="center" style="font-size:300%" id="{{category}}"> 
			 	<h1> {{category}} </h1> </a> 
			 {{/each}}
			</tr>
            <div align="center"> <a href="{{history}}" style="font-size:200%; color:black"> See full purchase history </div>

   		<div id="home" align="center" style="font-size:150%">
			<a href="{{index}}" >
				Navigate to Home
			</a>
		</div>	





</html>