<!doctype html>
   <html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content = "IE=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Rufina" rel="stylesheet">
  <script src="/js/jquery-1.11.0.js" ></script>
  <script src="/js/financeful.js" ></script>
    <script src="/js/bootstrap.js" ></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/financeful.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
</head>

<body>
<div class = "container">
   <div class="page-header">
    <h1 align="center">Financeful</h1>
  </div>
     

  <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="glyphicon glyphicon-list"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="{{index}}">Home</a></li>
    <li><a href="{{add_purchase}}">Add Purchase</a></li>
    <li><a href="{{view}}">View Data</a></li>
    <li><a href="{{set}}">Manage Settings</a></li>
    <li><a href="{{login}}">Log Out</a></li>  
  </ul>
</div>
 
  {{#if button}}
  <div align="center"> <a href="{{history}}" button class="btn btn-primary" type="button"> See full purchase history </a> </button> 
  {{else}}
  <div align="center"> <a href="{{history}}" style="font-size:200%; color:black"> See full purchase history </a></div>
   {{/if}} 
    </div>
</body>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script>
    
      var spending_array = [];
      var mood_array = [];
      var food_mood_array = [];
      var categories=[];
      var moods =[];
      var mood_count=new Array(6).join('0').split('').map(parseFloat);
      var food_mood_count=new Array(6).join('0').split('').map(parseFloat);
      var trends = [];
      var trend_count = new Array(6).join('0').split('').map(parseFloat);
      var trend_array = [];

      var prices= new Array(5).join('0').split('').map(parseFloat);

      var a = 0;
      for(a = 0; a < prices.length; ++a) 
        prices[a] = 0;
      for(a = 0; a < mood_count.length; ++a) {
        mood_count[a] = 0;
        food_mood_count[a] = 0;
      }
        $.getJSON("./data.json", function(data) { 
          //Categories chart
          console.log(data);
          var i,j;
          for(i=0; i < data.categories.length; ++i) {
            categories[i] = data.categories[i].category;
            for(j=0; j < data.purchases.length; ++j) {
              if(data.purchases[j].category === categories[i]) {
                prices[i] = prices[i] + +data.purchases[j].price;
              }  
            }
          }

          //Moods chart
          for(i=0; i < data.moods.length; ++i) {
            moods[i] = data.moods[i].mood;
            for(j=0; j < data.purchases.length; ++j) {
              if(data.purchases[j].mood === moods[i]) {
                mood_count[i] = mood_count[i] + 1;
                if(data.purchases[j].category == "Food")
                  food_mood_count[i] = food_mood_count[i] + 1;
              }  
            }
         }

         //Buy again bar graph
         for(i=0; i < data.trends.length; ++i) {
            trends[i] = data.trends[i].trend;
            for(j=0; j < data.purchases.length; ++j) {
              console.log(data.purchases[j].trend);
              if(data.purchases[j].trend == trends[i] ) {
                trend_count[i] = trend_count[i] + 1;
              }
            }
         }
       //Make arrays to insert into google charts  
       spending_array[0] = ['Category', 'Amount Spent'];
         for(i=0; i < data.categories.length; ++i) {
          spending_array[i+1] = [categories[i], prices[i]];
         }
       mood_array[0] = ['Mood', 'Occurrences'];
        for(i=0; i < data.moods.length; ++i) {
          mood_array[i+1] = [moods[i], mood_count[i]];
         }  

       food_mood_array[0] = ['Mood', 'Occurrences'];
       for(i=0; i < data.moods.length; ++i) {
         food_mood_array[i+1] = [ moods[i], food_mood_count[i] ];
       }

       trend_array[0] = ["Repurchase", "Occurrences"];
       for(i=0; i < data.trends.length; ++i) {
        trend_array[i+1] = [ trends[i], trend_count[i] ];
       // console.log(trends[i]);
       }


         google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart1);
                 function drawChart1() {        

        //Categories chart
        var data1 = google.visualization.arrayToDataTable(
          spending_array
         );  

        var options1 = {
          titlePosition: 'none',
          align: "center",
          backgroundColor: 'white',
          is3D: true,
          'legend': {'position': 'bottom'},
          'chartArea': {'width': '100%', 'height': '80%'},


        };

        var chart1 = new google.visualization.PieChart(document.getElementById('piechart'));

        chart1.draw(data1, options1);
      };

        });

     
      </script>
      </div>
             <h1 align="center" > My Spending Report </h1>

         <div id="piechart" style="width: 100%; height: 50%;"></div>

      <br>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data2 = google.visualization.arrayToDataTable(
          mood_array
        );

        var options = {
          titlePosition: 'none',
          is3D: true,
         'legend': {'position': 'bottom'},
          'chartArea': {'width': '100%', 'height': '80%'},


        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart2'));

        chart.draw(data2, options);
      }
    </script>      
  </div>
      


  <h1 align="center" > My Overall Mood Report </h1>
     <div id="piechart2" style="width: 100%; height: 50%;"></div>

    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data3 = google.visualization.arrayToDataTable(
          food_mood_array
          );

        var options = {
          titlePosition: 'none',
          is3D: true,
          'legend': {'position': 'bottom'},
          'chartArea': {'width': '100%', 'height': '80%'},
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart3'));

        chart.draw(data3, options);
      }

    </script>   

  <h1 align="center"> My Mood Report</h1>
   <div id="piechart3" style="width: 100%; height: 50%;"></div>

  </div>
  <br>
   <div class="form-group" align="center" style="width:60%">
    <label for="exampleSelect1">Choose a category for your mood report!</label>
    <select class="form-control" id="mySelect" onclick = "getdata()">
        {{#each categories}}
          <option value={{category}}> {{category}}</option> 
        {{/each}}
    </select>
 <!-- <button type="submit" class="btn btn-primary" onclick = "getdata()">Submit</button> -->
    </div>
  <script>
function getdata(){
    var category = document.getElementById("mySelect");
    var category_array = [];
    var array = [];
  
   // var category_mood_count = [];
    $.getJSON("./data.json", function(data) { 
        array =  [['Task', 'Hours per Day'],
          ['Work',     11],
          ['Eat',      2],
          ['Commute',  2],
          ['Watch TV', 2],
          ['Sleep',    7]]
       var category_mood_count=new Array(data.moods.length).join('0').split('').map(parseFloat);
        for(a = 0; a < data.moods.length; ++a) {
          category_mood_count[a] = 0;
        }

         //Moods chart
          for(i=0; i < data.moods.length; ++i) {
            moods[i] = data.moods[i].mood;
            for(j=0; j < data.purchases.length; ++j) {
              if(data.purchases[j].mood === moods[i]) {
                mood_count[i] = mood_count[i] + 1;
                if(data.purchases[j].category == category.value) {
                  category_mood_count[i] = category_mood_count[i] + 1;
                }  
              }  
            }
         }
         category_array[0] = ['Mood', 'Occurrences'];
         for(i=0; i < data.moods.length; ++i) {
          category_array[i+1] = [moods[i], category_mood_count[i]];
          console.log(category_array[i+1]);
         }
          var data3 = google.visualization.arrayToDataTable(
          category_array
          );

        var options = {
          titlePosition: 'none',
          is3D: true,
          'legend': {'position': 'bottom'},
          'chartArea': {'width': '100%', 'height': '80%'},
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart3'));

        chart.draw(data3, options);
         
    });   
   
};
</script>  



   <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable(
        trend_array
      );

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" }
                    ]);

      var options = {
        titlePosition: 'none',
        width: 450,
        height: 400,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
      chart.draw(view, options);
  }
  </script>
    <h1 align="center"> My Willingness to Repurchase </h1>
<div id="barchart_values" align="left" style="width: 80%; height: 30%; text-align:left;"></div>


</html>